@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto";
    src: url("fonts/RobotoFlex-Regular.ttf");
}
    
*{
    font-family: Roboto;
    background-color: #3A3A3A;
    color: rgb(216, 216, 216);
    font-weight: 100;
}

.fluid-container{
    display: flex;
    
}

main{
    
}

#header-container h1{
    text-align: center;
   
}
